__pycache__/
.ipynb_checkpoints/
archived/cvf_*.log

venv

cvf-analysis/plots
cvf-analysis/analysis/plots
cvf-analysis/temp


cvf-analysis/unranked_states.json
cvf-analysis/output.json


matrix*.dump

embedding*.dump
cvf_*.log
hostlist
hostlist_w_slots

temp.sh
